<!-- Como ya tenemos el routing en el componente,
 solo hace falta darle la ruta de la lista de heroes al boton -->
<!-- Vamos a mostrar el heroe concreto con algo de padding -->
<button mat-fab extended [routerLink]="['/heroes']">
  <mat-icon>arrow_back</mat-icon>
  Volver a heroes
</button>
<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner>

      </mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="hero; else divLoading" class="grid p-2">
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
    <mat-card-title>
      {{hero.alter_ego}}
    </mat-card-title>
    <mat-card-subtitle>
      {{hero.superhero}}
    </mat-card-subtitle>
  </mat-card-header>
  <img [src]="hero|heroImage" alt="hero.superhero" mat-card-image>
</mat-card>
<mat-card class="col-12 sm:col-6">
  <mat-card-header>
    <mat-card-title>
      Informacion
    </mat-card-title>
    <mat-card-subtitle>
      {{hero.superhero}}
    </mat-card-subtitle>
</mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item><strong>Primera aparicion:</strong> {{hero.first_appearance}}</mat-list-item>
      <mat-list-item><strong>Personajes:</strong> {{hero.characters}}</mat-list-item>
      <mat-list-item><strong>Editorial:</strong> {{hero.publisher}}</mat-list-item>
      <mat-list-item><strong>Identidad:</strong> {{hero.alter_ego}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
</div>
