<!-- 9.2 vamos a poner los materiales -->

<div class="flex flex-column">

  <span clas="textg-lg mb-4">Registro</span>

  <mat-form-field>
    <mat-label>Nombre de Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de usuario">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>person_add</mat-icon>
    Crear Usuario
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">Ya tengo cuenta de usuario</a>
  </div>

</div>
